/* FUNCTIONAL PANEL */

.panel-target-citizen {
    display: flex;
    justify-content: center;
    margin-left: 50px;
    margin-right: 50px;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
}

.panel-target-citizen *{
    font-family: 'Roboto';
    font-size: 20px;
    font-weight: 400;
    margin: 0px 5px;
    line-height: 50px;
}

.panel-target-citizen select {
    border: none;
}

.holder-function-panel {
    display: flex;
    width: 100%;
    justify-content: center;
}

.function-panel {
    width: 63%;
    height: 590px;
    border-style: solid;
    border: 1px solid #8C69CA;
    border-radius: 0px 20px 20px 0px;
}

.filter-region {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0px;
}

.filter-panel {
    width: 100%;
    margin: 0 auto;
    /* align div center*/
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    /* background-color: #db165e; */
}

.filter-panel label {
    line-height: 30px;
    font-size: 18px;
}

.filter-panel input {
    line-height: 20px;
    /* background-color: #eee; */
    width: 100px;
    border: none;
    outline: none;
    font-family: 'Roboto';
    font-weight: 300px;
    /* border-style: solid;
    border: 2px solid #8C69CA; */
    font-size: 18px; 
}

.filter-panel select {
    height: 25px;
    font-size: 18px;
    border: none;
}

.filter-panel hr {  
    background: var(--bg_gradient);
    height: 2px;
    display: inline-block;
    border: none;
    position: absolute;
}

.note {
    color: red;
}
 
.cow-1 {
    margin-left: 80px;
}

.cow-2 {
    margin-left: 150px;
}

.cow-3 {
    margin-left: 240px;
}

/*LAST NAME, FIRST NAME, GENDER*/
.line-1 input {
    margin-left: 80px;
    margin-right: -10px;
    width: 220px;
    /* box-shadow: inset 0 0 10px 2px rgba(0, 0, 0, .2); */
    /* border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: groove; */
    /* border-style: solid;
    border: 2px solid #8C69CA; */
}

.line-1 select {
    margin-left: 80px;
    width: 100px;
}

.left-1 {
    margin-left: -690px;
    margin-top: 25px;
    width: 220px;
}

.mid-1 {
    margin-left: -395px;
    width: 220px;
    margin-top: 25px;
}

.right-1 {
    margin-left: -95px;
    width: 100px;
    margin-top: 25px;
}
/*END LAST NAME, FIRST NAME, GENDER*/

/*ID, BIRTHDAY, HOMETOWN*/
.line-2 label {
    margin-top: 1000px;
}

.line-2 input {
    margin-left: 80px;
    margin-right: -10px;
    margin-top: 5px;
    width: 220px;
    /* box-shadow: inset 0 0 10px 2px rgba(0, 0, 0, .2); */
    /* border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: groove; */
    /* border-style: solid;
    border: 2px solid #8C69CA; */
}

.line-2 select {
    margin-left: 80px;
    width: 100px;
}

.line-2 .cow-2 {
    margin-left: 155px;
}

.line-2 .cow-3 {
    margin-left: 100px;
}

.left-2 {
    margin-left: -690px;
    margin-top: 26px;
    width: 220px;
}

.mid-2 {
    margin-left: -395px;
    width: 220px;
    margin-top: 26px;
}

.right-2 {
    margin-left: -95px;
    margin-top: 26px;
    width: 100px;
}
/*END ID, BIRTHDAY, HOMETOWN*/

/*DIRECTION*/
.line-4 input {
    margin-left: 80px;
    margin-right: -10px;
    width: 220px;
    /* box-shadow: inset 0 0 10px 2px rgba(0, 0, 0, .2); */
    /* border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: groove; */
    /* border-style: solid;
    border: 2px solid #8C69CA; */
}

.line-4 select {
    margin-left: 77px;
    margin-right: -5px;
    width: 220px;
}

.line-4 .cow-2 {
    margin-left: 140px;
}

.line-4 .cow-3 {
    margin-left: 168px;
}

.left-4 {
    margin-left: -805px;
    margin-top: 23px;
    width: 220px;
}

.mid-4 {
    margin-left: -505px;
    width: 220px;
    margin-top: 23px;
}

.right-4 {
    margin-left: -210px;
    margin-top: 23px;
    width: 220px;
}
/*END DIRECTION*/


/*ADDRESS*/
.line-5 input {
    margin-left: 80px;
    margin-right: -10px;
    width: 510px;
    /* box-shadow: inset 0 0 10px 2px rgba(0, 0, 0, .2); */
    /* border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: groove; */
    /* border-style: solid;
    border: 2px solid #8C69CA; */
}

.mid-5 {
    margin-left: -500px;
    margin-top: 23px;
    width: 520px;
}
/*END ADDRESS*/

/*EMAIL*/
.line-6 input {
    margin-left: 80px;
    margin-right: -10px;
    width: 220px;
    /* box-shadow: inset 0 0 10px 2px rgba(0, 0, 0, .2); */
    /* border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: groove; */
    /* border-style: solid;
    border: 2px solid #8C69CA; */
}

.mid-6 {
    margin-left: -210px;
    margin-top: 22px;
    width: 220px;
}
/*END EMAIL*/


/* POPUP CONFIRM FORM */

.form-popup-confirm {
    display: flex;
    z-index: 10;
    width: 600px;
    height: 120px;
    position: absolute;
    top: 770px;
    left: 800px;
    transform: translate(-200px, -100px);
    border-radius: 10px;
}

.form-popup-confirm .form-message {
    margin-top: 40px;
    font-family: 'Roboto';
    font-size: 20px;
    font-weight: 200;
    font-style: italic;
    justify-self: center;
    text-align: center;
}

.form-popup-confirm  .form-btn-submit {
    display: flex;
    justify-content: space-between;
    width: 260px;
    margin: 0 auto;
    padding-top: 10px;
}

.form-popup-confirm .form-btn-close {
    width: 18px;
    margin-top: 20px;
    margin-right: 30px;
    justify-self: right;
    font-weight: 100;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
}

.form-popup-confirm .form-btn-submit * {
    font-family: 'Roboto';
    font-size: 20px;
    font-weight: 300;
    justify-self: center;
    transition: 300ms;
}
.form-popup-confirm .form-btn-submit *:hover {
    cursor: pointer;
}