/* FUNCTIONAL PANEL */
.holder-function-panel {
    display: flex;
    width: 100%;
    justify-content: center;
}

.function-panel {
    width: 63%;
    height: 590px;
    border-style: solid;
    border: 1px solid #8C69CA;
    border-radius: 0px 20px 20px 0px;
}

.filter-region {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0px;
}

.provide-panel {
    display: block;
    margin-top: 50px;
}

.provide-panel hr{
    background: var(--bg_gradient);
    height: 1px;
    border: none;
}

.provide-panel select, input {
    font-weight: 200;
    font-size: 18px;
    line-height: 20px;
    padding: 2px 5px;
    border: none;
    outline: none;
    margin-top: 5px;
    width: 100%;
}

.provide-panel label, p {
    font-weight: 200;
    font-size: 16px;
    line-height: 20px;
}

.provide-panel p {
    font-size: 16px;
    margin: 0px 7%;
}

.provide-panel .group_btn{
    /* width: 300px; */
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    margin: 50px 30%;
    padding-bottom: 10px;
}

.provide-panel .row3{
    width: 56%;
    margin: 10px 7%;
    padding-bottom: 10px;
}

.provide-panel span {
    color: red;
}


/* END FUNCTIONAL PANEL */
