/* NAVIGATOR FUNCTIONAL PAGES */

.nav-func-pages {
    height: 50px;
    width: 100%;
    background: rgba(224, 202, 238, 0.32);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 29px;
}

.nav-func-pages a {
    text-decoration: none;
    color: black;
}

.nav-func-title {
    padding-left: 10%;
    font-weight: 600;
}

.nav-directory {
    display: flex;
    padding-right: 10%;
}

.directory-selected a {
    color: #167CDB;
}


/* END NAVIGATOR FUNCTIONAL PAGES */

/* FUNCTIONAL PANEL */

.panel-target-citizen {
    display: flex;
    justify-content: center;
}

.panel-target-citizen * {
    font-family: 'Roboto';
    font-size: 20px;
    font-weight: 400;
    margin: 0px 5px;
    line-height: 32px;
}

.holder-function-panel {
    display: flex;
    width: 100%;
    height: 573px;
    justify-content: center;
}

.nav-panel {
    width: 17%;
    border-style: solid;
    border: 1px solid #8C69CA;
    border-right: none;
    border-radius: 20px 0px 0px 20px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
}

.nav-panel .title {
    z-index: 5;
    width: 90%;
    margin: 0 auto;
    position: relative;
    background: rgba(255, 255, 255, 0.75);
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 40px;
    text-align: center;
} 

.nav-panel .title-bg {
    width: 100%;
    height: 10px;
    position: relative;
    margin: 0 auto;
    background: linear-gradient(90.97deg, rgba(157, 143, 193, 0.68) 22.76%, #F5A8FF 49.22%, #AAD5EE 79.48%);
    filter: blur(25px);
    border-radius: 20px;
} 

.nav-panel ul {
    list-style: none;
}

.nav-panel ul li {
    margin: 0px 20px;
    padding: 10px 10px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    font-weight: 400;
    transition: 300ms;
    border-radius: 10px;
}

.nav-panel ul li:hover {
    cursor: pointer;
    background-color: #D1BFF3;
    color: white;
}

.function-panel {
    width: 63%;
    border-style: solid;
    border: 1px solid #8C69CA;
    border-radius: 0px 20px 20px 0px;
}

.filter-panel {
    width: 90%;
    margin: 0 auto;
    /* align div center*/
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
}

.filter-panel label {
    margin-left: 5px;
    margin-right: 5px;
    line-height: 30px;
    font-size: 18px;
}

.filter-panel select {
    margin-left: 5px;
    margin-right: 30px;
    width: 140px;
    height: 30px;
    font-size: 18px;
}

.filter-region {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0px;
}

.filter-vaccine-time {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0px;
}

/* BACKEND - PANEL LIST REGISTRATION */

.panel-list-registration {
    width: 100%;
}

.panel-list-registration .list-name {
    color: #8C69CA;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
}

.panel-list-registration .holder {
    display: flex;
    width: 90%;
    margin: 0 auto;
    justify-content: space-between;
}

.panel-list-registration .holder .list-registration {
    width: 100%;
}

.panel-list-registration .holder .list-registration .registration {
    width: 80%;
    height: 120px;
    margin: 0 auto;
    margin-bottom: 4px;
    background-color: white;
    box-shadow: 2px 2px 5px -2px #8C69CA;
    transition: 300ms;
}

.panel-list-registration .holder .list-registration .registration:hover {
    box-shadow: 2px 2px 5px -1px #F5A8FF;
}

.panel-list-registration .holder .list-registration .registration 
.obj-org-name {
    padding: 5px 0px 0px 15px;
    font-size: 20px;
    font-weight: 600;
    color: #D1BFF3;
}

.panel-list-registration .holder .list-registration .registration 
.holder-obj-attr {
    display: flex;
    justify-content: space-between;
}

.panel-list-registration .holder .list-registration .registration 
.holder-obj-attr .obj-attr * {
    padding: 3px 0px;
    font-family: 'Roboto';
    font-size: 18px;
    font-style: italic;
    font-weight: 300;
}

.panel-list-registration .holder .list-registration .registration 
.holder-obj-attr .obj-attr, .interactive-area {
    padding: 5px 10px 5px 15px;
}

.panel-list-registration .holder .list-registration .registration 
.holder-obj-attr .obj-attr {
    width: 80%;
}


/* END FUNCTIONAL PANEL */

/* POPUP CONFIRM FORM */

.form-popup-confirm {
    display: none;
    z-index: 10;
    width: 600px;
    height: 200px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-300px, -150px);
    border-radius: 20px;
    background-color: white;
}

.form-popup-confirm .form-message {
    margin-top: 40px;
    font-family: 'Roboto';
    font-size: 20px;
    font-weight: 200;
    font-style: italic;
    justify-self: center;
    text-align: center;
}

.form-popup-confirm  .holder-btn {
    display: flex;
    justify-content: space-between;
    width: 260px;
    margin: 0 auto;
    padding-top: 10px;
}

/* FADED LINEAR BACKGROUND */
.gradient-bg-faded {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    bottom: 0px;
    right: 0px;
    background: var(--bg_gradient);
    opacity: 0.80;
    z-index: 9;
    transition: 300ms;
}
/* END POPUP CONFIRM FORM */