/* FUNCTIONAL PANEL */

.holder-function-panel {
    width: 100%;
    display: flex;
    justify-content: center;
}

.function-panel {
    width: 80%;
    height: 590px;
    border-style: solid;
    border: 1px solid #8C69CA;
    border-radius: 20px;
}

.panel-list-schedule {
    width: 100%;
    height: 445x;
}

.panel-list-schedule .list-name {
    color: #8C69CA;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
}

.panel-list-schedule .holder {
    display: flex;
    width: 95%;
    height: 100%;
    margin: 0 auto;
    justify-content: space-between;
}

.panel-list-schedule .holder .list-schedule {
    width: 48%;
}

.panel-list-schedule .holder .list-schedule .schedule {
    width: 100%;
    height: 120px;
    margin-bottom: 4px;
    background-color: white;
    box-shadow: 2px 2px 5px -2px #8C69CA;
    transition: 300ms;
}

.panel-list-schedule .holder .list-schedule .schedule:hover {
    box-shadow: 2px 2px 5px -1px #F5A8FF;
}

.panel-list-schedule .holder .list-schedule .schedule 
.obj-org-name {
    padding: 5px 0px 0px 15px;
    font-size: 20px;
    font-weight: 600;
    color: #D1BFF3;
}

.panel-list-schedule .holder .list-schedule .schedule 
.holder-obj-attr {
    display: flex;
    justify-content: space-between;
}


.panel-list-schedule .holder .list-schedule .schedule 
.holder-obj-attr .obj-attr * {
    padding: 3px 0px;
    font-family: 'Roboto';
    font-size: 18px;
    font-style: italic;
    font-weight: 300;
}

.panel-list-schedule .holder .list-schedule .schedule 
.holder-obj-attr .obj-attr, .interactive-area {
    padding: 5px 10px 5px 15px;
    align-items: center;
}

.panel-list-schedule .holder .list-schedule .schedule 
.holder-obj-attr .interactive-area .drop-down-time {
    width: 80px;
    height: 30px;
    margin-bottom: 10px;
    font-family: 'Roboto';
    font-size: 18px;
    font-weight: 300;
}

/* END FUNCTIONAL PANEL */

/* POPUP CONFIRM FORM */

.form-popup-confirm {
    display: none;
    z-index: 10;
    width: 600px;
    height: 200px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-300px, -150px);
    border-radius: 20px;
    background-color: white;
}

.form-popup-confirm .form-message {
    margin-top: 40px;
    font-family: 'Roboto';
    font-size: 20px;
    font-weight: 200;
    font-style: italic;
    justify-self: center;
    text-align: center;
}

.form-popup-confirm  .holder-btn {
    display: flex;
    justify-content: space-between;
    width: 260px;
    margin: 0 auto;
    padding-top: 10px;
}

/* FADED LINEAR BACKGROUND */
.gradient-bg-faded {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    background: var(--bg_gradient);
    opacity: 0.80;
    z-index: 9;
    transition: 300ms;
}
/* END POPUP CONFIRM FORM */