* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto";
}

html {
}

/* variables */
:root {
    --bg_light_gradient: linear-gradient(90deg, #D1BFF3 5%, #FAD3FF 35%, #FFDFEC 65%, #BEF7FF 95%);
    --color_header: #8C69CA;
    --color_content: #000000;
    /* --bgd_gradient: linear-gradient(90deg, #A084CA 2.5%, #F5A8FF 40%, #FFBAD5 60%, #77DAE8 97.5%); Cuong da thao tung dong nay*/
    --bg_gradient: linear-gradient(90deg, #A084CA 2.5%, #F5A8FF 39.07%, #FFBAD5 66.96%, #77DAE8 95.6%);
    --color_footer: #A084CA;
}

/* customize scrollbar */
body::-webkit-scrollbar {
    width: 10px; /*vertical scrollbar width*/
    height: 10px; /*horizontal scrollbar height*/
}

body::-webkit-scrollbar-thumb {
    background: var(--color_header); 
    border-radius: 6px;
}

body::-webkit-scrollbar-track { /*scrollbar bg*/
    background: whitesmoke;
}


/* HEADER */
.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    padding-top: 8px;
    background: var(--bg_light_gradient);
    align-items: center;
}

.header-alignment{
    padding: 5px 4%;
}

.nav {
    float: right;
    display: inline-flex;
    align-items: center;
    padding: 5px 0px;
    justify-content: space-between;
}

.header-alignment .nav ul {
    display: flex;
}

.nav li{
    list-style: none;
    padding-right: 50px;
}

.nav li a {
    font-size: 20px;
    color: var(--color_header);
    text-decoration: none;
}

.header .btnLogin {
    font-weight: 500px;
    font-size: 20px;
    line-height: 40px;
    text-decoration: none;
    color: white;
    background: var(--color_footer);
    padding: 0px 20px;
    border-radius: 15px;
    display: inline-block;
    cursor: pointer;
    transition: 300ms;
    border: none;
}

.btnLogin:hover {
    transform: translateY(-3px);
    text-shadow: 0 0 5px #fff;
}

.header-alignment a {
    display: inline-flex;
    text-decoration: none;
    align-items: center!important;
}

.header-alignment img {
    mix-blend-mode: multiply;
    max-height: 50px;
    vertical-align: middle;
}

.header-alignment a .title {
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;
    color: var(--color_header);
    padding-left: 10px;
}

.menu-section {
    transition: 200ms;
}

.menu-section:hover {
    color: white;
    /* text-shadow: 0 0 10px white; */
}


/* end header  */

/* gird view */
@media (min-width: 0px) and (max-width: 560px){
    .nav div {
        display: none;
    }

    .header-alignment a .title {
        font-size: 14px;
    }

    .header .btnLogin {
        font-size: 14px;
        padding: 0px 5px;
        line-height: 30px;
    }

    .header-alignment {
        padding: 5px 5px;
    }
    /* end grid view for header */

}

@media (min-width: 0px) and (max-width: 888px) {
    .nav div {
        display: none;
    }

    .header-alignment a .title {
        font-size: 15px;
    }

    .header .btnLogin {
        font-size: 14px;
        padding: 0px 15px;
        line-height: 40px;
    }
    /* end grid view for header */

    .slider div .slider_dot {
        width: 5px;
        height: 5px;
    }

}

@media (min-width: 740px) and (max-width: 1024px) {
    .header-alignment a .title {
        font-size: 15px;
    }

    .header .btnLogin {
        font-size: 14px;
        padding: 0px 15px;
        line-height: 40px;
    }

    .nav li a {
        font-size: 14px;
    }

    .nav li {
        padding-right: 20px;
    }
    /* end grid view for header */


}

@media (min-width: 1024px) and (max-width: 1239px) {
    .header-alignment a .title {
        font-size: 18px;
    }

    .header.btnLogin {
        font-size: 18px;
        padding: 0px 15px;
        line-height: 35px;
    }

    .nav li a {
        font-size: 16px;
    }

    .nav li {
        padding-right: 25px;
    }
    /* end grid view for header */



}
/* end gird view  */

/* SLIDER */
.slider {
    margin-top: 80px;
}

.slideshow-container {
  max-width: 90%;
  margin: auto;
}

.slider img{
    transition: 300ms;
}

.slider .frame-slider_dot {
    margin-top: 15px;
}

/* The dots/bullets/indicators */
.slider_dot {
  height: 12px;
  width: 12px;
  margin: 0 2px;
  background-color: #E4D4FE;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #A07AD1;
}


/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {

}
/* end slider  */


/* CONTENT */

.content {
    height: 600px;
    margin-top: 20px;
    background: whitesmoke;
    display: flex;
    justify-content: space-between;
}

.content .content-box{
    height: 100%;
    width: 20%;
    background: white;
    /* border-radius: 5%; */
    transition: 300ms;
}

.content-alignment-side {
    width: 5%;
}

.content .content-box:hover {
    box-shadow: 2px 2px 7px -2px black;
}

.content-below {
    height: 50px;
    background: whitesmoke;
}

/* END CONTENT */

/* FOOTER  */
footer {
    height: 80px;
    background: var(--color_footer);
    width: 100%;
    bottom: 0px;
    padding: 5px 5px;
    justify-content: space-between;
    align-items: center;
    display: flex;
}

.footer-content {
    color: white;
    font-size: 14px;
}


footer div img {
    max-height: 70px;
}

/* .footer-alignment-side {
    width: 50px;
} */

@media (min-width:0px) and (max-width:1445px) {
    footer p {
        margin-right: 50px;
    }

    footer div {
        padding: 0 3% 0 5%;
    }
}

@media (min-width:0px) and (max-width:1247px) {
    footer p {
        font-size: 16px;
    }
}
/* END FOOTER */

/* LOGIN FORM */

.form-login {
    display: none;
    z-index: 10;
    position: fixed;
    width: 400px;
    height: 500px;
    left: 37%;
    top: 15%;
    border-radius: 40px 40px 40px 40px;
    background: #FEFEFE;
    transition: 500ms;
}

.form-login-container {
    display: grid;
    max-width: 400px;
    border-radius: 40px 40px 40px 40px;
    background-color: white;
    padding: 30px 50px 20px 50px;
    align-items: center;
    text-align: left;
    font-family: 'Roboto';
    font-style: thin;
}

.form-login-container .form-title {
    padding-top: 10px;
    color: #000000;
    text-align: center;
    font-weight: 500;
    font-size: 32px;
    line-height: 41px;
}

.form-login-container label {
    font-weight: 200;
    font-size: 20px;
    line-height: 20px;
    padding-bottom: 5px;
}

input {
    border: none;
    outline: none;
}

.form-login-container input {
    line-height: 40px;
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 24px; 
}

.form-login-container hr {
    background: var(--bg_gradient);
    height: 1px;
    border: none;
}

.btn-linked-page {
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    font-size: 18px;
    color: #77DAE8;
}

.btn-linked-page a {
    text-decoration: none;
    font-weight: 300;
}

.form-login-container .btn-login {
    width: 100%;
    height: 40px;
    justify-self: center;
    border: none;
    border-radius: 20px;
    background: var(--bg_gradient);
    text-align: center;
    color: white;
    font-weight: 300;
    font-size: 24px;
    cursor: pointer;
    transition: 200ms;
}

.form-login-container .btn-login:hover {
    opacity: 0.8;
    /* transform: translateY(-3); */
}

.form-login-btn-close {
    width: 18px;
    justify-self: right;
    font-weight: 100;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
}

/* END LOGIN FORM */

/* REG-ACC FORM */

.form-reg-acc {
    display: none;
    z-index: 10;
    position: fixed;
    width: 400px;
    height: 500px;
    left: 37%;
    top: 15%;
    border-radius: 40px 40px 40px 40px;
    background: #FEFEFE;
    transition: 500ms;
}

.form-reg-acc-container {
    display: grid;
    max-width: 400px;
    border-radius: 40px 40px 40px 40px;
    background-color: white;
    padding: 30px 50px 20px 50px;
    align-items: center;
    text-align: left;
    font-family: 'Roboto';
    font-style: thin;
}

.form-reg-acc-container .form-title {
    padding-top: 10px;
    color: #000000;
    text-align: center;
    font-weight: 500;
    font-size: 32px;
    line-height: 41px;
}

.form-reg-acc-container label {
    font-weight: 200;
    font-size: 20px;
    line-height: 20px;
    padding-bottom: 5px;
}

input {
    border: none;
    outline: none;
}

.form-reg-acc-container input {
    line-height: 40px;
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 24px; 
}

.form-reg-acc-container hr {
    background: var(--bg_gradient);
    height: 1px;
    border: none;
}

.btn-linked-page {
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    font-size: 18px;
    color: #77DAE8;
}

.btn-linked-page p {
    text-decoration: none;
    font-weight: 300;
    cursor: pointer;
}

.form-reg-acc-container .btn-reg-acc {
    width: 100%;
    height: 40px;
    justify-self: center;
    border: none;
    border-radius: 20px;
    background: var(--bg_gradient);
    text-align: center;
    color: white;
    font-weight: 300;
    font-size: 24px;
    cursor: pointer;
    transition: 200ms;
}

.form-reg-acc-container .btn-reg-acc:hover {
    opacity: 0.8;
    /* transform: translateY(-3); */
}

.form-reg-acc-btn-close {
    width: 18px;
    justify-self: right;
    font-weight: 100;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
}

/* END REG-ACC FORM */

/* FADED LINEAR BACKGROUND */
.gradient-bg-faded {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    bottom: 0px;
    right: 0px;
    background: var(--bg_gradient);
    opacity: 0.80;
    z-index: 9;
    transition: 500ms;
}