* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto";
}

html {
    font-family: "Arial";
}

/* variables */
:root {
    --bg_light_gradient: linear-gradient(90deg, #D1BFF3 5%, #FAD3FF 35%, #FFDFEC 65%, #BEF7FF 95%);
    --color_header: #8C69CA;
    --color_content: #000000;
    /* --bgd_gradient: linear-gradient(90deg, #A084CA 2.5%, #F5A8FF 40%, #FFBAD5 60%, #77DAE8 97.5%); Cuong da thao tung dong nay*/
    --bg_gradient: linear-gradient(90deg, #A084CA 2.5%, #F5A8FF 39.07%, #FFBAD5 66.96%, #77DAE8 95.6%);
    --color_footer: #A084CA;
}

/* customize scrollbar */
body::-webkit-scrollbar {
    width: 10px;
    /*vertical scrollbar width*/
    height: 10px;
    /*horizontal scrollbar height*/
}

body::-webkit-scrollbar-thumb {
    background: var(--color_header);
    border-radius: 6px;
}

body::-webkit-scrollbar-track {
    /*scrollbar bg*/
    background: whitesmoke;
}


/* HEADER */
.header {
    position: fixed;
    top: 0px;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    background: var(--bg_light_gradient);
    align-items: center;
    padding: 5px 4%;
}

.header .title {
    text-decoration: none;
    display: flex;
    align-items: center;
}

.header .nav {
    height: 80px;
    float: right;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
}

.header .nav ul {
    display: flex;
}

.nav li {
    list-style: none;
    padding-right: 50px;
}

.nav li a {
    font-size: 20px;
    color: var(--color_header);
    text-decoration: none;
}

.header .avatar {
    display: inline-flex;
    text-decoration: none;
    align-items: center !important;
    height: 100%;
    z-index: 20;
}

.header img {
    mix-blend-mode: multiply;
    max-height: 50px;
    vertical-align: middle;
}

.header a .title {
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;
    color: var(--color_header);
    padding-left: 10px;
}

.menu-section {
    transition: 200ms;
}

.menu-section:hover {
    color: white;
}

@media (min-width: 0px) and (max-width: 760px) {
    .nav div {
        display: none;
    }

    .header a .title {
        font-size: 14px;
    }

    .header {
        padding: 5px 5px;
    }
}

@media (min-width: 0px) and (max-width: 888px) {
    .header a .title {
        font-size: 15px;
    }

    .slider div .slider_dot {
        width: 5px;
        height: 5px;
    }
}

@media (min-width: 740px) and (max-width: 1024px) {
    .header a .title {
        font-size: 15px;
    }

    .nav li a {
        font-size: 14px;
    }

    .nav li {
        padding-right: 20px;
    }
}

@media (min-width: 1024px) and (max-width: 1239px) {
    .header a .title {
        font-size: 18px;
    }

    .nav li a {
        font-size: 16px;
    }

    .nav li {
        padding-right: 25px;
    }
}

/* drop down menu */
.header .drop-down-menu {
    display: none;
    background: #E2DDEF;
    width: 18%;
    border-radius: 10px;
    right: 0px;
    top: 80px;
    position: fixed;
}

.header .drop-down-menu .holder {
    width: 100%;
}

.header .drop-down-menu .holder ul {
    width: 90%;
    margin: 0 auto;
    padding: 5px;
}

.header .drop-down-menu a {
    text-decoration: none;
    font-size: 20px;
    color: #000000;
}

.header .drop-down-menu li {
    list-style-type: none;
    padding: 7px 10px;
    border-radius: 10px;
}

.header .drop-down-menu li:hover{
    background: #9D8FC1;
}
/* END HEADER */


/* NAVIGATOR FUNCTIONAL PAGES */

.nav-func-pages {
    margin-top: 80px;
    height: 50px;
    width: 100%;
    background: rgba(224, 202, 238, 0.32);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 29px;
}

.nav-func-pages a {
    text-decoration: none;
    color: black;
}

.nav-func-title {
    padding-left: 10%;
    font-weight: 600;
}

.nav-directory {
    display: flex;
    padding-right: 10%;
}

.directory-selected a {
    color: #167CDB;
}


/* END NAVIGATOR FUNCTIONAL PAGES */

/* FUNCTIONAL PANEL */

.holder-function-panel {
    display: flex;
    width: 100%;
    justify-content: center;
    /* background-color: #000000; */
}

.panel-target-citizen {
    display: flex;
    justify-content: center;
}

.panel-target-citizen * {
    font-family: 'Roboto';
    font-size: 20px;
    font-weight: 400;
    margin: 0px 5px;
    line-height: 32px;
}

.nav-panel {
    width: 17%;
    border-style: solid;
    border: 1px solid #8C69CA;
    border-right: none;
    border-radius: 20px 0px 0px 20px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
}

.nav-panel .title {
    z-index: 5;
    width: 90%;
    margin: 0 auto;
    position: relative;
    background: rgba(255, 255, 255, 0.75);
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 40px;
    text-align: center;
} 

.nav-panel .title-bg {
    width: 100%;
    height: 10px;
    position: relative;
    margin: 0 auto;
    background: linear-gradient(90.97deg, rgba(157, 143, 193, 0.68) 22.76%, #F5A8FF 49.22%, #AAD5EE 79.48%);
    filter: blur(25px);
    border-radius: 20px;
} 

.nav-panel ul {
    list-style: none;
}

.nav-panel ul li {
    margin: 0px 20px;
    padding: 10px 10px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    font-weight: 400;
    transition: 300ms;
    border-radius: 10px;
}

.nav-panel ul li:hover {
    cursor: pointer;
    background-color: #D1BFF3;
    color: white;
}

.function-panel {
    width: 63%;
    border-style: solid;
    border: 1px solid #8C69CA;
    border-radius: 0px 20px 20px 0px;
    padding-bottom: 27px;
}

.panel-form-medical {
    width: 90%;
    display: flex;
    align-items: center;
    margin: 0 auto;
    background-color: rgba(250, 211, 255, 0.5);
    box-shadow: 2px 2px 5px -2px black;
}

.panel-form-medical .form-medical {
    width: 90%;
    margin: 10px auto;
}

.panel-form-medical .form-medical * {
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
}

.panel-form-medical .form-medical p {
    padding-top: 20px;
    font-style: italic;
}

.panel-form-medical .form-medical .form-btn-input {
    display: flex;
    justify-content: center;
}

.panel-form-medical .form-medical .form-btn-input input {
    margin-right: 20px;
    width: 18px;
}


.panel-form-medical .form-medical div * {
    padding: 0px 5px;
}

.panel-form-medical .list-name {
    color: #8C69CA;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
}

.panel-form-medical .holder .list-registration {
    width: 100%;
    height: 450px;
}

.panel-form-medical .holder .list-registration .registration {
    width: 80%;
    height: 120px;
    margin: 0 auto;
    margin-bottom: 4px;
    background-color: white;
    box-shadow: 2px 2px 5px -2px #8C69CA;
    transition: 300ms;
}

.panel-form-medical .holder .list-registration .registration:hover {
    box-shadow: 2px 2px 5px -1px #F5A8FF;
}

.panel-form-medical .holder .list-registration .registration 
.obj-org-name {
    padding: 5px 0px 0px 15px;
    font-size: 20px;
    font-weight: 600;
    color: #D1BFF3;
}

.panel-form-medical .holder .list-registration .registration 
.holder-obj-attr {
    display: flex;
    justify-content: space-between;
}

.panel-form-medical .holder .list-registration .registration 
.holder-obj-attr .obj-attr * {
    padding: 3px 0px;
    font-family: 'Roboto';
    font-size: 18px;
    font-style: italic;
    font-weight: 300;
}

.panel-form-medical .holder .list-registration .registration 
.holder-obj-attr .obj-attr, .interactive-area {
    padding: 5px 10px 5px 15px;
}

.panel-form-medical .holder .list-registration .registration 
.holder-obj-attr .obj-attr {
    width: 80%;
}

.panel-form-medical .holder .list-registration .registration 
.holder-obj-attr .interactive-area * {
    width: 100px;
    height: 30px;
    font-family: 'Roboto';
    font-size: 18px;
    font-weight: 300;
}

.panel-form-medical .holder .list-registration .registration 
.holder-obj-attr .interactive-area .btn-cancel-registration {
    width: 120px;
    height: 34px;
    margin-top: 10px;
    border-radius: 17px;
    border: 4px solid #8C69CA;
    background-color: white;
    color: #8C69CA;
    transition: 300ms;
}

.panel-form-medical .holder .list-registration .registration 
.holder-obj-attr .interactive-area .btn-cancel-registration:hover {
    box-shadow: 2px 2px 5px -2px black;
    cursor: pointer;
}

/* END FUNCTIONAL PANEL */

/* POPUP CONFIRM FORM */

.form-popup-confirm {
    display: none;
    z-index: 10;
    width: 600px;
    height: 200px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-300px, -150px);
    border-radius: 20px;
    background-color: white;
}

.form-popup-confirm .form-message {
    margin-top: 40px;
    font-family: 'Roboto';
    font-size: 20px;
    font-weight: 200;
    font-style: italic;
    justify-self: center;
    text-align: center;
}

.form-popup-confirm  .form-btn-submit {
    display: flex;
    justify-content: space-between;
    width: 260px;
    margin: 0 auto;
    padding-top: 10px;
}

.form-popup-confirm .form-btn-close {
    width: 18px;
    margin-top: 20px;
    margin-right: 30px;
    justify-self: right;
    font-weight: 100;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
}

.form-popup-confirm .form-btn-submit * {
    font-family: 'Roboto';
    font-size: 20px;
    font-weight: 300;
    justify-self: center;
    transition: 300ms;
}

.form-popup-confirm .form-btn-submit *:hover {
    cursor: pointer;
}

.btn-confirm {
    width: 120px;
    height: 34px;
    border: none;
    border-radius: 17px;
    background-color: #8C69CA;
    color: white;
    transition: 300ms;
}

.btn-cancel {
    width: 120px;
    height: 34px;
    border: 4px solid #8C69CA;
    border-radius: 17px;
    background-color: white;
    color: #8C69CA;
    transition: 300ms;
}

/* FADED LINEAR BACKGROUND */
.gradient-bg-faded {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    bottom: 0px;
    right: 0px;
    background: var(--bg_gradient);
    opacity: 0.80;
    z-index: 9;
    transition: 300ms;
}
/* END POPUP CONFIRM FORM */

/* FOOTER  */
footer {
    height: 80px;
    background: var(--color_footer);
    width: 100%;
    bottom: 0px;
    padding: 5px 5px;
    justify-content: space-between;
    align-items: center;
    display: flex;
}

.footer-content {
    color: white;
    font-size: 14px;
}


footer div img {
    max-height: 70px;
}

/* .footer-alignment-side {
    width: 50px;
} */

@media (min-width:0px) and (max-width:1445px) {
    footer p {
        margin-right: 50px;
    }

    footer div {
        padding: 0 3% 0 5%;
    }
}

@media (min-width:0px) and (max-width:1247px) {
    footer p {
        font-size: 16px;
    }
}

/* END FOOTER */